.banner {
  background: url("https://kirillbylkov.com/images/background.png");
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.typewriter {
  position: absolute;
  left: 20px;
  bottom: 80px;
}
.type-anim {
  position: absolute;
  left: 20px;
  bottom: 50px;
  font-size: x-large;
}
.signup-offer {
  display: flex;
}
.form-border {
  width: fit-content;
  border: 1.5px solid #d8d8d8;
}

.login-form {
  width: 100%;
  max-width: 330px;
}

.form-label {
  padding-right: 10em;
}
