.banner {
  background: url("https://kirillbylkov.com/images/background.png");
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.typewriter {
  position: absolute;
  left: 20px;
  bottom: 80px;
}
